* {
  font-family: "Roboto", sans-serif;
}
.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.my-card-text {
  overflow-wrap: break-word;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-modal {
  background: transparent;
}

.custom-card {
  font-weight: 400;
}

.custom-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.custom-title {
  font-weight: 600;
  display: block;
}
li a {
  text-decoration: none;
  color: white;
}
a {
  color: #292b2c;
}
.custom-btn {
  display: block;

  font-weight: 600;
}

.custom-container {
  margin-left: 40vw;
}

.custom-icon {
  color: #292b2c;
}

.offer-img {
  max-height: 240px;
  min-height: 240px;
  max-width: 300px;
}

.social-btn {
  display: inline-block;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 0.2em 0.2em;
}

.site-logo {
  width: 180px;
  height: 32px;
}

.notification-menu {
  position: fixed;
  right: 40px;
  bottom: 40px;
}
.notification-btn {
  text-align: center;
  /* width: 40px;
  height: 40px; */
  border-radius: 50%;
  float: right;
}
.custom-toast {
  bottom: 100px;
  right: 10px;

  position: fixed;
}

.custom-list-group {
  overflow-y: scroll;
  height: 30vh;
}
@media (max-width: 767px) {
  .custom-dropDown-toggle {
    visibility: none;
  }

  .site-logo {
    width: 90px;
    height: 16px;
  }
}
